.gender {
  height: fit-content;
  width: fit-content;
  font-size: x-large;
}

.gender {
  position: relative;
  display: inline-block;
  padding: 10px 100px;
  background-color: #3DAD9D;
  color:#ffffff;
  border-radius: 10px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.gender_types {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f6f0f0;
  border: 1px solid #ffffff;
  color: #3DAD9D;
  border-radius: 5px;
  width: 280px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
  margin: 0;
  z-index: 1;
  display: none;
}

.gender_types li {
  padding: 2px;
  cursor: pointer;
  margin-bottom: 5px;
}

.gender_types li:hover {
  text-decoration: underline;
}

.gender_active .gender_types {
  display: block;
}


