/* .like-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-out; /* add transition effect on hover */


/* .like-button:hover {
  background-color: #f2f2f2; /* change background color on hover */


/* .liked {
  color: green; */ 

  .like-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 20px;
    border-radius: 10px;
  }
  
  .like-button:hover {
    background-color: #45a049;
  }
  
  .like-button.liked {
    background-color: #3e8e41;
  }
  
  .like-button.liked:hover {
    background-color: #3c803a;
  }
